<!DOCTYPE html>
<html>
    <head>
        <title>Date Form</title>
    </head>
    <body>
        <h2>Enter Start and End Dates</h2>
        <form action="/add" method="post">
            <label for="start_date">Name</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required><br><br>
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" required><br><br>
            <input type="submit" value="Submit">
        </form>
        <h1>Job list</h1>
        <ul>
            {% for line in lines %}
            <li>{{ line }}</li>
            <form action="/remove?line={{ line }}" method="post">
                <input type="hidden" id="line" name="line" value="{{ line }}" required>
                <button type="submit">Kill</button>
            </form>
            {% endfor %}
        </ul>
    </body>
</html>
